<header>
  <nav>
    <ul>
      <li class="logo"><a href="#">赵晓琳</a></li>
      <li><a href="#">链接2</a></li>
      <li><a href="#">链接3</a></li>
      <li><a href="#">链接4</a></li>
      <li><a href="#">链接5</a></li>
    </ul>
  </nav>
  <div id="banner">
    <div class="inner">
      <h1 class="heading">赵晓琳</h1>
      <p class="sub-heading">ewjroqwhelqwihflijwqljnfknwdsm</p>
      <button>了解我</button>
      <div class="more">更多</div>
    </div>
  </div>
</header>
<div class="content"></div>
<footer></footer>
