<div class="main-wrapper">
  <header>
    <nav>
      <div class="logo"><a href="#">赵晓琳</a></div>
      <ul>
        <li id="sidebar_trigger"><a href="#">侧栏</a></li>
        <!-- <li><a href="#">链接3</a></li>
        <li><a href="#">链接4</a></li>
        <li><a href="#">链接5</a></li> -->
      </ul>
    </nav>
    <div id="banner">
      <div class="inner">
        <h1 class="heading">赵晓琳</h1>
        <!-- <h2 style="text-align: right">-- 前端工程师</h2>
        <h2 style="text-align: left; margin-top: 100px; ">邮箱：xiaolin@gmail.com</h3>
        <h2 style="text-align: left">手机：15117905781</h3> -->
        <p class="sec-sub-heading">
          怕什么真理无穷，进一寸有一寸的欢喜
        </p>
        <button>了解我</button>
        <div class="more">更多</div>
      </div>
    </div>
  </header>
  <div class="content">
    <section class="sec-one">
      <div class="wrapper">
        <div>
          <h2 class="sec-heading">常用技术栈</h2>
          <div class="hr"></div>
          <!-- <p class="sec-sub-heading">erqwjeflfkmnfkjsmd.sam</p> -->
        </div>
        <div class="icon-group">
          <span class="icon icon1">css/css3</span>
          <span class="icon">html/html5</span>
          <span class="icon">javascript</span>
          <span class="icon">webpack</span>
          <span class="icon">vuejs</span>
          <span class="icon">lodash</span>
        </div>
      </div>
    </section>
    <section class="sec-two">
      <div class="article-pre clearfix">
        <div class="img-sec">
          <img src="../assets/img/pic01.jpg" alt />
        </div>
        <div class="text-sec">
          <h2 class="sec-heading">又一个标题</h2>
          <div class="sec-sub-heading">我是副标题</div>
          <p>ehljfadljfdlsajlajdflajs</p>
        </div>
      </div>
      <div class="article-pre clearfix">
        <div class="text-sec">
          <h2 class="sec-heading">又一个标题</h2>
          <div class="sec-sub-heading">我是副标题</div>
          <p>ehljfadljfdlsajfdlajdl;jfdl;ajksjfdlajdl;jfdl;ajksjfdlajdl;jfdl;ajksjlajdflajslkafld</p>
        </div>
        <div class="img-sec">
          <img src="../assets/img/pic02.jpg" alt />
        </div>
      </div>
      <div class="article-pre clearfix">
        <div class="img-sec">
          <img src="../assets/img/pic03.jpg" alt />
        </div>
        <div class="text-sec">
          <h2 class="sec-heading">又一个标题</h2>
          <div class="sec-sub-heading">我是副标题</div>
          <p>ehljfadljfdlsajlajdflajs</p>
        </div>
      </div>
    </section>
    <section class="sec-three">
      <div class="wrapper">
        <div class="heading-wrapper">
          <h2>又一个标题</h2>
          <div class="hr"></div>
          <div class="sub-heading">
            jlskjddlksjdljas;djkslajf;lakjdflksfdlafmdklamfaslfs
          </div>
        </div>
        <div class="card-group clearfix">
          <div class="card">
            <h3>标题一</h3>
            <p>看的；阿娇地方；拉开发的；来访；来打卡；</p>
          </div>
          <div class="card">
            <h3>标题二</h3>
            <p>看的；阿娇地方；拉开发的；来访；来打卡；</p>
          </div>
          <div class="card">
            <h3>标题一</h3>
            <p>看的；阿娇地方；拉开发的；来访；来打卡；</p>
          </div>
          <div class="card">
            <h3>标题二</h3>
            <p>看的；阿娇地方；拉开发的；来访；来打卡；</p>
          </div>
          <div class="card">
            <h3>标题一</h3>
            <p>看的；阿娇地方；拉开发的；来访；来打卡；</p>
          </div>
          <div class="card">
            <h3>标题二</h3>
            <p>看的；阿娇地方；拉开发的；来访；来打卡；</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="mask"></div>
  <div id="sidebar">
    <ul>
      <li><a href="#">item1</a></li>
      <li><a href="#">item1</a></li>
      <li><a href="#">item1</a></li>
      <li><a href="#">item1</a></li>
      <li><a href="#">item1</a></li>
      <li><a href="#">item1</a></li>
    </ul>
  </div>
  <footer>
    <ul class="share-list">
      <li>item1</li>
      <li>item2</li>
      <li>item3</li>
      <li>item4</li>
      <li>item5</li>
      <li>item6</li>
    </ul>
    <div class="copy">
      &copy 赵晓琳
    </div>
  </footer>
  <button class="back-to-top">返回顶部</button>
</div>
