nav {
  height: 50px;
  background: #ccc;
}

#banner {
  height: 700px;
  background: #777;
}

nav ul li {
  display: inline-block;
  line-height: 50px;
  float: right;
  margin: 0 15px;
}

nav ul li a {
  line-height: 50px;
  text-decoration: none;
  display: inline-block;
  height: inherit;
}

nav ul li.logo {
  float: left;
}

#banner .inner {
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 160px;
}

button {
  border: none;
  background: #333;
  color: #eee;
  padding: 10px;
}

#banner .inner button {
  margin-top: 15px;
  padding: 14px 60px;
}

#banner .inner .more {
  margin-top: 280px;
}

#banner .inner .heading {
  line-height: 40px;
  font-size: 20;
  font-weight: 700;
}

#banner .inner .sub-heading {
  line-height: 30px;
}
